.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    gap: 20px;
}

@media (max-width: 768px){
    .section-1 {
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 568px) {
    .section-1 {
        grid-template-columns: 1fr  ;
    }
}