.backToTop {
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    border: 2px solid green;
    background-color: white;
    cursor: pointer;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}